<!DOCTYPE html>
<html>
<head>
  <title>Jammer</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <% if flash[:danger] %>
  <div> Error: <%= flash[:danger]%></div>
  <%end%>  -->

<%= yield %>

</body>
</html>
